
/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles */
/* ... */
.footer{
  background-color: #3B455A !important;
  height: 15em !important;
}
.logo{
  size: 15px !important;
}
.top_Margin{
  margin-top: 300px !important;
}
/* .relativePosition{
  
    position: relative; 


} */